
.active {
    background: green;
    color: white;
  }
  
.inactive {
    background: rgb(141, 141, 141);
    color: white;
  }

  .modal {
    background: rgba(0, 0, 0, 0.5);
  }

  thead, tbody{
    text-align: center;
  }
  
  .zoom:hover {
    transform: scale(2.5); 
    transition: 0.5s;
}