
.active {
    background: green;
    color: white;
  }
  
.inactive {
    background: rgb(141, 141, 141);
    color: white;
  }

  .modal {
    background: rgba(0, 0, 0, 0.5);
  }

  thead, tbody{
    text-align: center;
  }
  
  .zoom:hover {
    transform: scale(3); 
    transition: 0.3s;

    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}