<div class="p-4">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Employees</h1>
      </div>
      <div class="card-body d-flex justify-content-between">
        <div class="card-body d-flex">
          <div class="form-check ms-4" *ngFor="let item of statusKeys">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="selectedEmployeeType"
                (change)="onStatusChange(item)"
                [value]="item"
                [checked]="isChecked(item)"
              />
              {{ item }}({{
                item == "ALL"
                  ? allList.length
                  : item == "ACTIVE"
                  ? activeList.length
                  : inactiveList.length
              }})
            </label>
          </div>
        </div>

        <!-- Delete Selected -->
        <button
          *ngIf="selected.length > 0"
          type="button"
          class="btn btn-danger m-2"
          (click)="deleteSelected()"
          [disabled]="deleteValid"
        >
          Delete Selected {{ selected.length }}
        </button>

        <!-- Add -->
        <button
          type="button"
          class="btn btn-success m-2"
          (click)="openModal('Add')"
        >
          Add
        </button>

        <!-- Modal -->
        <div
          class="modal"
          tabindex="-1"
          role="dialog"
          [ngStyle]="{ display: display }"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="onCloseHandled()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form [formGroup]="employeeForm">
                  <div class="mb-3">
                    <label for="name" class="form-label"> Employee Name </label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      formControlName="name"
                    />
                    <small
                      class="text-danger"
                      *ngIf="employeeForm.get('name')?.hasError('required')"
                    >
                      Employee name should be valid and unique.
                    </small>
                  </div>

                  <div class="mb-3">
                    <label for="name" class="form-label"> Image </label>
                    <div class="input-group">
                      <input
                        type="file"
                        class="form-control"
                        id="inputGroupFile02"
                        name="image"
                        (change)="onFileChange($event)"
                      />
                    </div>
                    <small
                      class="text-danger"
                      *ngIf="employeeForm.get('image')?.hasError('required')"
                    >
                      Image should be valid.
                    </small>
                  </div>

                  <div class="mb-3 form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                      name="active"
                      formControlName="active"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Active</label
                    >
                  </div>

                  <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="date"
                      name="date"
                      formControlName="date"
                      [value]="date"
                    />
                  </div>
                  <button
                    type="submit"
                    [disabled]="employeeForm.invalid"
                    class="btn btn-primary"
                    (click)="onSubmit()"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  name="selectAll"
                  [checked]="allSelected"
                  (change)="allSelected = !allSelected"
                  (change)="onSelectAll($event)"
                />
              </th>

              <th scope="col">Image</th>

              <th scope="col" (click)="sortEmp(); eSorting = !eSorting">
                Employee Name
                <span class="fa fa-sort"></span>
              </th>
              <th scope="col">Status</th>
              <th scope="col" (click)="sortDate(); dSorting = !dSorting">
                Date
                <span class="fa fa-sort"></span>
              </th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employeeList; let i = index">
              <td scope="col">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  name="selectAll"
                  [checked]="emp.selected"
                  value="{{ i }}"
                  (change)="onSelect($event)"
                />
              </td>

              <td scope="col">
                <img
                  class="rounded-circle zoom"
                  alt="100x100"
                  src="{{ emp.image }}"
                  alt="{{ emp.name }}"
                  data-holder-rendered="true"
                  width="60px"
                />
              </td>

              <td>{{ emp.name }}</td>
              <td
                [ngClass]="{
                  active: emp.status == 1,
                  inactive: emp.status == 0
                }"
              >
                {{ emp.status == 1 ? "Active" : "Inactive" }}
              </td>
              <td>{{ emp.date | date: "dd-MMM-YYYY" }}</td>
              <td>
                <i class="fas fa-edit" (click)="openModal('Edit', emp)"></i>
                <i
                  class="fas fa-trash-alt ms-4"
                  (click)="removeEmployee(emp)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pre>{{ employeeList | json }}</pre>
      </div>
    </div>
  </div>
</div>
